.linegoogle{
    margin-top: 50px;
    margin-bottom: 50px;
    }
    
    .bargoogle{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .radargoogle{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .doughnutgoogle{
        margin-top: 50px;
        margin-bottom: 50px;
    }