.linefacebook{
margin-top: 50px;
margin-bottom: 50px;
}

.barfacebook{
    margin-top: 50px;
    margin-bottom: 50px;
}

.radarfacebook{
    margin-top: 50px;
    margin-bottom: 50px;
}

.doughnutfacebook{
    margin-top: 50px;
    margin-bottom: 50px;
}